  <h1>Empty Epsilon server</h1>
  <p>Empty epsilon server was not set. </p>

  <form method="post" action="set_server">
    <label for="server_ip">Server IP/URL: </label>
    <input type="text" name="server_ip" required/>
    <br/>
    <label for="server_port">Server PORT: </label>
    <input type="number" name="server_port" min="0" max="65535" value="8080"/>
    <br>
    <input type="submit" value="Set"/>
  </form>
<!-- TODO wtforms here -->

