<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} | Empty Epsilon console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--     <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="menu">
      <ul>
        {%- for item in current_menu.children recursive -%}
        <li>
          <a href="{{ item.url}}">{{ item.text }}</a>
          {%- if item.children -%}
          <ul>
            {{ loop(item.children) }}
          </ul>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

    </div>
    <div class="container">
      {% if server_ip == "" %}
        {% include 'get_server.html' %}
      {% else %}
        {% block content %}
          <h1>Empty Epsilon web console</h1>
          Welcome to Empty Epsilon console.
        {% endblock %}
      {% endif %}
    </div>
    <div class="footer">
      server: {{server_ip}}:{{server_port}}
    </div>
    <!--     <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
  </body>
</html>
